############################
# Build folders
############################

bin/
obj/

############################
# Visual Studio
############################

.vs/

############################
# VS Code
############################

.vscode/

############################
# Test Results
############################

TestResults/

############################
# Reports
############################

Reports/

############################
# Logs
############################

Logs/

############################
# Coverage
############################

coverage/

############################
# User Files
############################

*.user
*.suo
*.cache
*.tmp
*.log

############################
# OS Files
############################

Thumbs.db
.DS_Store